---
page_title: "{{.Name}} {{.Type}} - {{.RenderedProviderName}}"
subcategory: "Application"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}
!> **Provider Deprecation Notice** **The DaVinci Terraform provider is now deprecated as of April 2026.** The provider will continue to be maintained **until 30th April 2027** after which there will be no further updates.  Please migrate all DaVinci Terraform projects to use equivalent, fully supported resources and data sources in the [PingOne Terraform provider](https://registry.terraform.io/providers/pingidentity/pingone/latest/docs). Migration guidance can be found in the [Migrate from Legacy DaVinci Provider](https://registry.terraform.io/providers/pingidentity/davinci/latest/docs/guides/migrate-from-legacy-provider) guide. For more information, see https://github.com/pingidentity/terraform-provider-davinci/issues/601.

!> **Resource Deprecation Notice** **This resource is now deprecated as of April 2026.** Use the [`pingone_davinci_application` resource in the PingOne Terraform provider](https://registry.terraform.io/providers/pingidentity/pingone/latest/docs/resources/davinci_application) instead. Migration guidance can be found in the [Migrate from Legacy DaVinci Provider](https://registry.terraform.io/providers/pingidentity/davinci/latest/docs/guides/migrate-from-legacy-provider) guide.

~> DaVinci Application Flow Policies are managed as individual resources. Review the migration guidance here: https://registry.terraform.io/providers/pingidentity/davinci/latest/docs/guides/migrate-application-flow-policy

{{ if .HasExample -}}
## Example Usage

{{ tffile (printf "%s%s%s" "examples/resources/" .Name "/resource.tf") }}
{{- end }}

{{ .SchemaMarkdown | trimspace }}

{{ if .HasImport -}}
## Import

Import is supported using the following syntax, where attributes in `<>` brackets are replaced with the relevant ID.  For example, `<environment_id>` should be replaced with the ID of the environment to import from.

{{ codefile "shell" (printf "%s%s%s" "examples/resources/" .Name "/import.sh") }}
{{- end }}