---
page_title: "Provider: PingOne DaVinci"
description: |-
  The DaVinci provider is used to manage PingOne DaVinci environments.
---

# DaVinci Provider

The "davinci" provider allows operators to manage PingOne DaVinci infrastructure
as code. This provider can be used along with the [PingOne provider](https://registry.terraform.io/providers/pingidentity/pingone/latest/docs)
to stand up fully orchestrated PingOne IAM Experiences.

## Getting Started

This provider will authenticate an API client to PingOne to configure to the DaVinci environment.

### PingOne SSO

You must have a PingOne account and may use multiple environments within that account.

Prerequisites:

> IMPORTANT: To manage multiple DaVinci environments with the same credentials, you can add DaVinci to the admin environment. This creates a DaVinci connection and IdP that can be used for SSO into other environments that a user has the `Identity Data Admin` role. The Prerequisites below assume this is the case.

- Have a PingOne environment with DaVinci enabled. 
- Choose or create a user identity in the Administrators account, assign this user the following roles:
    - `Environment Admin` and `Identity Data Admin` roles scoped to the PingOne `Administrators` environment.
    - `Organization Admin` for the organization.
- For each additional DaVinci environment that needs SSO access, give this user the `Identity Data Admin` and `Environment Admin` roles for that environment.  See the **Full deployment example with a PingOne environment** example below for how to do this in HCL.

## Example Usage

### Authenticate using static credentials

{{ tffile "examples/provider/provider.tf" }}

### Authenticate using credentials as environment variables

{{ tffile "examples/provider/provider-env.tf" }}

{{ codefile "shell" (printf "%s" "examples/provider/provider-env.sh") }}

### Full deployment example with a PingOne environment
The following assumes that the DV admin user has been provided the `Environment Admin` and `Identity Data Admin` roles scoped to the PingOne `Administrators` environment, and the `Organization Admin` role scoped to the organization.

{{ tffile "examples/provider/provider_sso.tf" }}

{{ .SchemaMarkdown | trimspace }}
