---
page_title: "Provider: PingOne Davinci"
description: |-
  The Davinci provider is used to manage PingOne DaVinci environments.
---

# DaVinci Provider

The "davinci" provider allows operators to manage PingOne DaVinci infrastructure
as code. This provider can be used along with the [PingOne provider](https://registry.terraform.io/providers/pingidentity/pingone/latest/docs)
to stand up fully orchestrated PingOne IAM Experiences.

## Getting Started

This provider will authenticate an API client to PingOne to configure to the DaVinci environment.

### PingOne SSO

You must have a PingOne account and may use multiple environments within that account.

Prerequisites:

> IMPORTANT: To manage multiple Davinci environments with the same credentials, you can add DaVinci to the admin environment. This creates a DaVinci connection and IdP that can be used for SSO into other environments that a user has the `Identity Data Admin` role. The Prerequisites below assume this is the case.

- Have a PingOne environment with DaVinci enabled. 
- Choose or create a user identity in the Administrators account, 
  assign this user the following roles:
    - Environment role and Identity Data Admin role on the Administrators Environment.
    - Organization admin for the organization.
- For each additional DaVinci environment that needs SSO access,
  give this user the Identity Data Admin role for that environment.
  This step can be done in HCL as shown below:

{{ tffile "examples/provider/provider_sso.tf" }}

{{ .SchemaMarkdown | trimspace }}
