---
page_title: "Provider: PingOne DaVinci"
description: |-
  The DaVinci provider is used to manage PingOne DaVinci environments.
---

# DaVinci Provider

The "davinci" provider allows operators to manage PingOne DaVinci infrastructure
as code. This provider can be used along with the [PingOne provider](https://registry.terraform.io/providers/pingidentity/pingone/latest/docs)
to stand up fully orchestrated PingOne IAM Experiences.

## Getting Started

To get started using the PingOne and DaVinci Terraform providers, first you'll need an active PingOne cloud subscription with the DaVinci service license additions.  Get instant access with a [PingOne trial account](https://www.pingidentity.com/en/try-ping.html), or read more about Ping Identity at [pingidentity.com](https://www.pingidentity.com).

Further information about enabing the DaVinci service license can be found [here](https://terraform.pingidentity.com/getting-started/davinci/#the-pingone-davinci-service-license).

### Configure PingOne and DaVinci for Terraform access

For detailed instructions on how to prepare PingOne and DaVinci for Terraform access, see the [DaVinci provider getting started guide](https://terraform.pingidentity.com/getting-started/davinci/#configure-pingone-for-terraform-access) at [terraform.pingidentity.com](https://terraform.pingidentity.com).

## Example Usage

### Authenticate using static credentials

{{ tffile "examples/provider/provider.tf" }}

### Authenticate using credentials as environment variables

{{ tffile "examples/provider/provider-env.tf" }}

{{ codefile "shell" (printf "%s" "examples/provider/provider-env.sh") }}

### Full deployment example with a PingOne environment
The following assumes that the DaVinci admin user has been provided the `Environment Admin` and `Identity Data Admin` roles scoped to the PingOne environment containing the Identity, and the `Organization Admin` role scoped to the organization.

{{ tffile "examples/provider/provider_sso.tf" }}

{{ .SchemaMarkdown | trimspace }}
