---
page_title: "{{.Name}} {{.Type}} - {{.RenderedProviderName}}"
subcategory: "Connection"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}
!> **Provider Deprecation Notice** **The DaVinci Terraform provider is now deprecated as of April 2026.** The provider will continue to be maintained **until 30th April 2027** after which there will be no further updates.  Please migrate all DaVinci Terraform projects to use equivalent, fully supported resources and data sources in the [PingOne Terraform provider](https://registry.terraform.io/providers/pingidentity/pingone/latest/docs). Migration guidance can be found in the [Migrate from Legacy DaVinci Provider](https://registry.terraform.io/providers/pingidentity/davinci/latest/docs/guides/migrate-from-legacy-provider) guide. For more information, see [issue 601 on the project's GitHub repository](https://github.com/pingidentity/terraform-provider-davinci/issues/601).

!> **Data Source Deprecation Notice** **This data source is now deprecated as of April 2026.** Use the [`pingone_davinci_connector_instance` data source in the PingOne Terraform provider](https://registry.terraform.io/providers/pingidentity/pingone/latest/docs/data-sources/davinci_connector_instance) instead. Migration guidance can be found in the [Migrate from Legacy DaVinci Provider](https://registry.terraform.io/providers/pingidentity/davinci/latest/docs/guides/migrate-from-legacy-provider) guide.

{{ if .HasExample -}}
## Example Usage

{{ tffile (printf "%s%s%s" "examples/data-sources/" .Name "/data-source.tf") }}
{{- end }}

{{ .SchemaMarkdown | trimspace }}