---
layout: ""
page_title: "Connector Parameter Reference"
description: |-
  The guide describes the connection parameters for all connectors in the DaVinci platform, with examples of how to define within Terraform using the `davinci_connection` resource.
---

# DaVinci Connection Definitions

Below is a list of all available DaVinci Connections available for use in `davinci_connection` resource. 
If the `value` type of a property is not defined it must be inferred.

{{ range . }}
## {{ .ConnectorName }}

Connector ID (`connector_id` in the resource): `{{ .ConnectorId }}`
{{with .Properties}}
Properties (used in the `property` block in the resource as the `name` parameter):
{{ range . }}
* `{{ .Name }}` ({{with .Type}}{{.}}{{else}}string; *Type inferred from the provided string value*{{end}}): {{with .Description}}{{.}} {{end}}{{ with .ConsoleDisplayName }}Console display name: "{{.}}".{{end}}
{{- end }}
{{ else }}
*No properties*
{{ end }}

Example:
{{"{{"}} tffile (printf "%s" "examples/connectors/{{ .ConnectorId }}.tf") {{"}}"}}

{{ end }}